PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hospital_db?schema=public"
JWT_SECRET="supersecretjwtkey"
JWT_REFRESH_SECRET="supersecretjwtrefreshkey"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
FRONTEND_URL="http://localhost:5173"
